.background{
    background-image: linear-gradient(to top, rgb(101, 127, 137), rgb(52, 73, 82));
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crdr{
    border: none;
    width:45rem;
    /* height: 50vh;  */
}
.crdhr{
    background-color:rgb(52, 73, 82);
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crdbr{
    background-color: rgb(75, 108, 121);
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.crdfr{
    background-color:rgb(52, 73, 82);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btr{
    width: 200px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}